########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js

bower_components/*
public/vendor/*
node_modules/*
!node_modules/drywall-sendmail
!node_modules/drywall-slugify
!node_modules/drywall-workflow
*.min.js
*.min.js.map
*.min.css
*.jade
*.ejs
/config.js
/credentials.json
.nodemonignore
