<style>
    body {
        margin-top: 50px;
    }

    footer {
        margin: 50px 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h1>
                  Signup Confirmation
                </h1>
            </div>
            <div id="reset">
              We have just send you an email, please check your mail to avtivate your account!
              Click here to activate your account.
            </div>
        </div>
    </div>
</div>